.logincontainer {
    background: #c3e3ee;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.logincontainer>form {
    width: 70%;
    border: 1px solid #dfdfdf;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
}

pre {
    width: 70%;
    color: #fff;
    font-size: larger;
}


.formp {
    color: red;
}

input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

.formbuuton {
    width: 100%;

}